<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("About")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>
            <%block name="pageheader">${page_header or _("About")}</%block>
        </h1>
        <p>
            <%block name="pagecontent">
		   {% if request.LANGUAGE_CODE == 'fr' %}
			   {{ PLATFORM_NAME }} est une plateforme en ligne proposant des formations en langue française ainsi que des formations visant à aider les personnes à trouver un emploi en France.
		   {% elif request.LANGUAGE_CODE == 'ru' %}
			   {{ PLATFORM_NAME }} - это онлайн-платформа, предлагающая обучение французскому языку и программы, направленные на помощь людям в поиске работы во Франции.
		   {% elif request.LANGUAGE_CODE == 'uk' %}
			   {{ PLATFORM_NAME }} - це онлайн-платформа, яка пропонує навчання французької мови, а також програми, спрямовані на допомогу людям у пошуку роботи у Франції.
		   {% endif %}
	    </%block>
        </p>
        </p>
    </section>
</main>
