<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("About")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>
            <%block name="pageheader">${page_header or _("About")}</%block>
        </h1>
        <p>
            <%block name="pagecontent">
		   {{ PLATFORM_NAME }} est une plateforme en ligne proposant des formations en langue française ainsi que des formations visant à aider les personnes à trouver un emploi en France.
	    </%block>
        </p>
        </p>
    </section>
</main>
